@import url('https://fonts.googleapis.com/css?family=Passion+One:400,700');
body {
    width: 100%;
    height: 100%;
    background: #000;
    overflow: hidden;
}
html {
    height: 100%;
    width: 100%;
}
* {
    margin: 0;
    padding: 0;
    position: absolute;
}
a {
    text-decoration: none;
}
.ad__section{
    width: 100%;
    height: 100%;
    background: #652ad6 url('../img/background.png') no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    font-family: 'Passion One', cursive;
}
#logo{
    width: 110px;
    height: 116px;
    background: url('../img/logo.png') no-repeat center;
    background-size: contain;
    -webkit-background-size: contain;
    left: 1%;
    top: 1%;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
}
#score__bar{
    width: 274px;
    height: 83px;
    background: url('../img/bar.png') no-repeat center;
    background-size: contain;
    -webkit-background-size: contain;
    font-size: 35pt;
    color: #ffe302;
    font-weight: 400;
    text-shadow: 2px 2px 2px #100a05;
    text-align: center;
    line-height: 66px;
    right: 1%;
    top: 1%;
    -webkit-transform-origin: top right;
    -ms-transform-origin: top right;
    transform-origin: top right;
}
#machine{
    width: 625px;
    height: 782px;
    top: 50%;
    left: 50%;
    margin-left: -312.5px;
    margin-top: -391px;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
}
#machine #wheel__dragons{
    width: 486px;
    height: 336px;
    top: 0px;
    left: 50%;
    margin-left: -243px;
    background: url('../img/Wheel_Dragons.png') no-repeat center;
    background-size: contain;
}
#machine #wheel{
    width: 625px;
    height: 625px;
    top: 50%;
    left: 50%;
    margin-left: -312.5px;
    margin-top: -312.5px;
    background: url('../img/Wheel.png') no-repeat center;
    background-size: contain;
}
#machine #pointer{
    width: 144px;
    height: 173px;
    top: 50%;
    left: 50%;
    margin-left: -72px;
    margin-top: -86.5px;
    background: url('../img/pointer.png') no-repeat center;
    background-size: contain;
}
#machine #spins__progress{
    width: 320px;
    height: 107px;
    bottom: 0px;
    left: 50%;
    margin-left: -160px;
    background: url('../img/spins.png') no-repeat center;
    background-size: contain;
}
#spin__btn{
    width: 431px;
    height: 270px;
    bottom: 0px;
    left: 50%;
    margin-left: -215.5px;
    -webkit-transform-origin: bottom center;
    -ms-transform-origin: bottom center;
    transform-origin: bottom center;
}
#spin__btn #barrel__btn{
    width: 256px;
    height: 156px;
    left: 50%;
    top: 0px;
    margin-left: -128px;
    background: url('../img/btn_norm.png') no-repeat center;
    background-size: contain;
}
#spin__btn #barrel{
    width: 431px;
    height: 200px;
    bottom: 0px;
    background: url('../img/barrel.png') no-repeat center;
    background-size: contain;
}
