@import url('https://fonts.googleapis.com/css?family=Passion+One:400,700');
body {
    width: 100%;
    height: 100%;
    background: #000;
    overflow: hidden;
}

html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    position: absolute;
}

a {
    text-decoration: none;
}

.ad__section {
    width: 100%;
    height: 100%;
    background: #652ad6 url('../img/background.png') no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    font-family: 'Passion One', cursive;
}

#logo {
    width: 110px;
    height: 116px;
    z-index: 2;
    background: url('../img/logo.png') no-repeat center;
    background-size: contain;
    -webkit-background-size: contain;
    left: 1%;
    top: 1%;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
}

#score__bar {
    width: 274px;
    height: 83px;
    z-index: 2;
    background: url('../img/bar.png') no-repeat center;
    background-size: contain;
    -webkit-background-size: contain;
    font-size: 35pt;
    color: #ffe302;
    font-weight: 400;
    text-shadow: 2px 2px 2px #100a05;
    text-align: center;
    line-height: 66px;
    right: 1%;
    top: 1%;
    -webkit-transform-origin: top right;
    -ms-transform-origin: top right;
    transform-origin: top right;
}

#score__bar span {
    width: 85%;
    text-align: right;
    left: 0;
}

#machine {
    width: 625px;
    height: 782px;
    top: 50%;
    left: 50%;
    margin-left: -312.5px;
    margin-top: -391px;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    -webkit-transition: left .3s cubic-bezier(0.86, 0, 0.07, 1);
    -o-transition: left .3s cubic-bezier(0.86, 0, 0.07, 1);
    transition: left .3s cubic-bezier(0.86, 0, 0.07, 1);
}

#machine #wheel__dragons {
    width: 486px;
    height: 336px;
    top: 0px;
    left: 50%;
    margin-left: -243px;
    background: url('../img/Wheel_Dragons.png') no-repeat center;
    background-size: contain;
    position: relative;
}

#machine #wheel {
    width: 625px;
    height: 625px;
    top: 50%;
    left: 50%;
    margin-left: -312.5px;
    margin-top: -312.5px;
    background: url('../img/Wheel.png') no-repeat center;
    background-size: contain;
    transform: rotate(72deg);
    -webkit-transition: transform 2.5s cubic-bezier(0.18, 0.89, 0.32, 1.06);
    -o-transition: transform 2.5s cubic-bezier(0.18, 0.89, 0.32, 1.06);
    transition: transform 2.5s cubic-bezier(0.18, 0.89, 0.32, 1.06);
}

#machine #pointer {
    width: 144px;
    height: 173px;
    top: 50%;
    left: 50%;
    margin-left: -72px;
    margin-top: -86.5px;
    background: url('../img/pointer.png') no-repeat center;
    background-size: contain;
}

#machine #spins__progress {
    width: 320px;
    height: 107px;
    bottom: 0px;
    left: 50%;
    margin-left: -160px;
    background: url('../img/spins.png') no-repeat center;
    background-size: contain;
}

#machine #spins__progress #glos {
    left: 20px;
    top: 12px;
    background: url('../img/15_spins.png');
    width: 150px;
    height: 63px;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#machine #spins__progress #glos[data-value="0"] {
    background: none;
}

#machine #spins__progress #glos[data-value="10"] {
    background: url('../img/10_spins_.png') !important;
    background-size: contain;
    width: 104px !important;
    height: 61px !important;
}

#machine #spins__progress #glos[data-value="5"] {
    background: url('../img/5_spins.png') !important;
    background-size: contain;
    width: 58px !important;
    height: 50px !important;
}

#machine #spins__progress #glos[data-value="50"] {
    background: url('../img/50_spins.png') !important;
    -webkit-transition: all 1.2s ease-in-out 0.3s !important;
    -o-transition: all 1.2s ease-in-out 0.3s !important;
    transition: all 1.2s ease-in-out 0.3s !important;
    width: 279px !important;
    height: 63px !important;
}

#spin__btn {
    width: 431px;
    height: 270px;
    z-index: 2;
    bottom: 0px;
    left: 50%;
    margin-left: -215.5px;
    -webkit-transform-origin: bottom center;
    -ms-transform-origin: bottom center;
    transform-origin: bottom center;
}

#spin__btn #barrel__btn {
    width: 256px;
    height: 156px;
    left: 50%;
    top: 0px;
    margin-left: -128px;
    background: url('../img/btn_norm.png') no-repeat center;
    background-size: contain;
    cursor: pointer;
}

.btn__transition {
    -webkit-transition: background .4s ease-in;
    -o-transition: background .4s ease-in;
    transition: background .4s ease-in;
}

#spin__btn .hightlight__btn {
    background: url('../img/btn_highlight.png') no-repeat center !important;
    background-size: contain;
    cursor: pointer;
}

#spin__btn #barrel {
    width: 431px;
    height: 200px;
    bottom: 0px;
    background: url('../img/barrel.png') no-repeat center;
    background-size: contain;
}

#ch_overlay {
    width: 100%;
    height: 100%;
    background: url('../img/Rectangle\ 3.png') no-repeat center;
    background-size: cover;
    opacity: 0;
}

#ch_pirate__block {
    width: 623px;
    height: 954px;
    top: 62%;
    margin-top: -477px;
    left: 155%;
    margin-left: -311.5px;
    -webkit-transition: left .8s cubic-bezier(0.86, 0, 0.07, 1);
    -o-transition: left .8s cubic-bezier(0.86, 0, 0.07, 1);
    transition: left .8s cubic-bezier(0.86, 0, 0.07, 1);
}

#ch_pirate__block #ch_flag {
    width: 376px;
    height: 650px;
    top: 0px;
    left: 0px;
    background: url('../img/Fllag.png') no-repeat center;
    background-size: contain;
}

#ch_pirate__block #ch_pirate {
    width: 460px;
    height: 767px;
    right: 0px;
    bottom: 0px;
    background: url('../img/pirate.png') no-repeat center;
    background-size: contain;
}

.opacity-anime {
    -webkit-transition: opacity .3s ease-in;
    -o-transition: opacity .3s ease-in;
    transition: opacity .3s ease-in;
}

#winAttack_overlay {
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0;
}

#attack_rays {
    width: 766px;
    height: 765px;
    left: 50%;
    top: 50%;
    margin-left: -383px;
    margin-top: -382.5px;
    opacity: 0;
    background: url('../img/rays.png') no-repeat center;
    background-size: contain;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
}

#attack_gun {
    width: 294px;
    height: 291px;
    top: 50%;
    left: 50%;
    margin-left: -147px;
    margin-top: -145.5px;
    opacity: 0;
    background: url('../img/signAttack.png') no-repeat center;
    background-size: contain;
    transition: transform 0.4s linear;
    -o-transition: transform 0.4s linear;
    -webkit-transition: transform 0.4s linear;
}

#attack_txt {
    width: 431px;
    height: 147px;
    top: 25%;
    left: 50%;
    margin-left: -215.5px;
    margin-top: -73.5px;
    background: url('../img/txtAttack.png') no-repeat center;
    background-size: contain;
    transform: scale(0);
    transition: transform 0.3s linear;
    -o-transition: transform 0.3s linear;
    -webkit-transition: transform 0.3s linear;
}

#cannon {
    width: 576px;
    height: 388px;
    left: 50%;
    bottom: -100%;
    margin-left: -288px;
    background: url('../img/cannon.png') no-repeat center;
    background-size: contain;
    transition: bottom 0.5s linear;
    -o-transition: bottom 0.5s linear;
    -webkit-transition: bottom 0.5s linear;
    -webkit-transform-origin: bottom center;
    -ms-transform-origin: bottom center;
    transform-origin: bottom center;
}

#island {
    width: 742px;
    height: 732px;
    top: 45%;
    left: 170%;
    margin-left: -371px;
    margin-top: -366px;
    transition: left 0.4s linear;
    -o-transition: left 0.4s linear;
    -webkit-transition: left 0.4s linear;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
}

#island #island_platform {
    width: 742px;
    height: 275px;
    bottom: 0;
    left: 50%;
    margin-left: -371px;
    background: url('../img/island.png') no-repeat center;
    background-size: contain;
}

#island #nature {
    width: 615px;
    height: 321px;
    left: 49.5%;
    margin-left: -307.5px;
    bottom: 173px;
    background: url(../img/nature.png) no-repeat center;
    background-size: contain;
}

.nature_damagde {
    background: url('../img/natureDamaged.png') no-repeat center !important;
    background-size: contain;
    width: 583px !important;
    height: 300px !important;
    left: 51.5% !important;
    margin-left: -291.5px !important;
    bottom: 163px !important;
}

#island #nature_atc__btn {
    width: 119px;
    height: 119px;
    top: 11%;
    left: 40%;
    margin-top: -59.5px;
    margin-left: -59.5px;
    background: url(../img/nature_attk.png) no-repeat center;
    background-size: contain;
    z-index: 2;
}

#island #ship {
    width: 160px;
    height: 226px;
    top: 0px;
    left: 63%;
    margin-left: -80px;
    background: url('../img/ship.png') no-repeat center;
    background-size: contain;
}

.ship_damaged {
    background: url('../img/shipDamaged.png') no-repeat center !important;
    background-size: contain;
}

#island #ship_atc__btn {
    width: 109px;
    height: 110px;
    top: 17%;
    left: 77%;
    margin-top: -55px;
    margin-left: -54.5px;
    background: url(../img/ship_attk.png) no-repeat center;
    background-size: contain;
    z-index: 2;
}

#island #house {
    width: 465px;
    height: 399px;
    left: 39%;
    top: 53%;
    margin-top: -199.5px;
    margin-left: -232.5px;
    background: url(../img/house.png) no-repeat center;
    background-size: contain;
}

.house_damaged {
    background: url('../img/house_Damaged.png') no-repeat center !important;
    background-size: contain;
    width: 457px !important;
    height: 251px !important;
    left: 39% !important;
    top: 63% !important;
    margin-top: -125.5px !important;
    margin-left: -228.5px !important;
}

#island #house_atc__btn {
    width: 117px;
    height: 117px;
    top: 22%;
    left: 18%;
    margin-top: -58.5px;
    margin-left: -58.5px;
    background: url(../img/house_attk.png) no-repeat center;
    background-size: contain;
    z-index: 2;
}

#island #pet {
    width: 191px;
    height: 212px;
    top: 68%;
    right: 12%;
    margin-top: -106px;
    margin-left: -95.5px;
    background: url('../img/pet.png') no-repeat center;
    background-size: contain;
}

.pet_damaged {
    background: url('../img/petDamaged.png') no-repeat center !important;
    background-size: contain;
}

#island #pet_atc__btn {
    width: 118px;
    height: 118px;
    top: 41%;
    right: 8%;
    margin-top: -59px;
    margin-left: -59px;
    background: url(../img/pet_attk.png) no-repeat center;
    background-size: contain;
    z-index: 2;
}

.attack_btn {
    transition: transform .2s linear;
    -o-transition: transform .2s linear;
    -webkit-transition: transform .2s linear;
}

#island .btn_border {
    transition: border .2s linear, box-shadow .2s linear;
    -o-transition: border .2s linear, box-shadow .2s linear;
    -webkit-transition: border .2s linear, box-shadow .2s linear;
}

#island .active {
    width: 94px;
    left: 45%;
    top: 44.5%;
    margin-left: -47px;
    margin-top: -47px;
    height: 94px;
    border-radius: 50%;
    box-shadow: 0 0 25px 2px #2cfdff;
    border: 6px solid #ffffff;
}

#cannon #canon_fire {
    width: 100px;
    height: 100px;
    top: 54%;
    left: 61%;
    margin-top: -50px;
    margin-left: -50px;
}

#cannon__ball {
    width: 153px;
    height: 147px;
    left: 50%;
    opacity: 0;
    bottom: -11%;
    margin-left: -76.5px;
    margin-top: -78.5px;
    background: url('../img/cannonBall.png') no-repeat center;
    background-size: contain;
}

#explr_canvas {
    width: 468px;
    height: 464px;
    margin-left: -234px;
    margin-top: -232px;
}

#spins_rays {
    width: 766px;
    height: 765px;
    left: 50%;
    top: 50%;
    margin-left: -383px;
    margin-top: -382.5px;
    opacity: 0;
    background: url('../img/rays.png') no-repeat center;
    background-size: contain;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
}

#spins_overlay {
    width: 766px;
    height: 765px;
    left: 50%;
    top: 50%;
    margin-left: -383px;
    margin-top: -382.5px;
}

#spins_bottle {
    width: 293px;
    height: 329px;
    z-index: 2;
    top: 50%;
    left: 50%;
    margin-left: -146.5px;
    margin-top: -164.5px;
    opacity: 0;
    background: url('../img/spins_bottle.png') no-repeat center;
    background-size: contain;
    transition: transform 0.4s linear;
    -o-transition: transform 0.4s linear;
    -webkit-transition: transform 0.4s linear;
}

#spins_bottle .spin_drop {
    width: 39px;
    height: 38px;
    left: 50%;
    top: 13%;
    transform: scale(0);
    margin-left: -19.5px;
    background-size: contain;
    background: url('../img/spinsDrop.png') no-repeat center;
}

#spins_txt {
    width: 342px;
    height: 116px;
    top: 25%;
    left: 50%;
    margin-left: -171px;
    margin-top: -58px;
    background: url('../img/spin_txt.png') no-repeat center;
    background-size: contain;
    transform: scale(0);
    transition: transform 0.3s linear;
    -o-transition: transform 0.3s linear;
    -webkit-transition: transform 0.3s linear;
}

#winSpins_overlay {
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0;
}

#fp_logo {
    width: 247px;
    height: 260px;
    margin-left: -123.5px;
    margin-top: -130px;
    left: 50%;
    top: 15%;
    transform: scale(0);
    background: url('../img/logo_big.png') no-repeat center;
    background-size: contain;
}

#fp_ship {
    width: 376px;
    height: 416px;
    left: -129%;
    top: 51%;
    margin-left: -178px;
    margin-top: -208px;
}

#fp_ship #ship {
    width: 221px;
    height: 336px;
    background: url('../img/ship.png') no-repeat center;
    background-size: contain;
}

#fp_ship #cannon_ball2 {
    width: 118px;
    height: 109px;
    top: -79px;
    left: 125px;
    background-size: contain;
    background: url('../img//cannonBall2.png') no-repeat center;
}

#fp_ship #canonn_ball1 {
    width: 259px;
    height: 244px;
    top: -10px;
    left: 108px;
    background-size: contain;
    background: url('../img//cannonBall1.png') no-repeat center;
}

#fp_pirate {
    width: 528px;
    height: 697px;
    top: 17%;
    left: -160%;
    margin-left: -264px;
}

#fp_pirate #pirate {
    width: 472px;
    height: 526px;
    left: 80%;
    bottom: 24%;
    margin-left: -337.5px;
    background: url('../img/pirate_.png') no-repeat center;
    background-size: contain;
}

#fp_pirate #boat {
    width: 482px;
    height: 297px;
    left: 50%;
    bottom: 0%;
    margin-left: -241px;
    background: url('../img/boat.png') no-repeat center;
    background-size: contain;
}

#fp_install__btn {
    width: 507px;
    height: 347px;
    left: 50%;
    top: 155%;
    margin-left: -253.5px;
}

#fp_install__btn #btn {
    background: url('../img/install_btn.png') no-repeat center;
    background-size: contain;
    width: 507px;
    height: 135px;
    bottom: 0px;
    cursor: pointer;
}

#fp_install__btn #bird {
    width: 200px;
    height: 222px;
    bottom: 124px;
    background: url('../img/bird.png') no-repeat center;
    background-size: contain;
}

#fp_install__btn #bird #eye {
    width: 46px;
    height: 46px;
    top: 33px;
    left: 67px;
    opacity: 0;
    background: url('../img/eye_close.png') no-repeat center;
    background-size: contain;
}

#fp_coins {
    width: 396px;
    height: 283px;
    left: 50%;
    top: 155%;
    margin-left: -198px;
}
#fp_coins div{
    background: url('../img/fp_coins_sprite.png') no-repeat;
}
#fp_coins div[data-value="1"] {
    width: 30px;
    height: 29px;
    left: 23%;
    background-position: -5px -5px;
}
#fp_coins div[data-value="2"] {
    width: 76px;
    height: 66px;
    top: 23%;
    background-position: -45px -5px;
}
#fp_coins div[data-value="3"] {
    width: 53px;
    height: 49px;
    top: 96%;
    left: 24%;
    background-position: -131px -5px;
}
#fp_coins div[data-value="4"] {
    width: 41px;
    height: 38px;
    left: 100%;
    top: 79%;
    background-position: -194px -5px;
}
#fp_coins div[data-value="5"] {
    width: 59px;
    height: 54px;
    top: 60%;
    left: 41%;
    background-position: -245px -5px;
}
#fp_coins div[data-value="6"] {
    width: 49px;
    height: 50px;
    left: 80%;
    top: 70%;
    background-position: -314px -5px;
}
#win_coins{
    width: 100%;
    height: 100%;
    /* top: 30%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px; */
}
#win_coins div{
    background: url('../img/coins_sprite.png');
    background-repeat: no-repeat;
    width: 204px;
    height: 204px;
    top: 30%;
    left: 25%;
    margin-left: - 102px;
    margin-top: -102px;
    transform: scale(0);
}